{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Career</title>
    <link rel="stylesheet" href="{% static 'css/admin/add.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'adminhome' %}"><button>Home</button></a>
        <a href="{% url 'add-qualification' %}">Add Qualification</a> 
        <a href="{% url 'message_list' %}">Messages</a>
        <a href="{% url 'userlist' %}"><button>User List</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
    </nav>

    <h1>ADD CAREER</h1>
    <form method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title" required><br>
        Description:<textarea name="description" required></textarea><br>
        Main Description:<textarea name="maindescription" required></textarea><br>

        <label for="qualification">Qualification</label>
        <select name="qualification" id="qualification" required>
            <option value="">Select Qualification</option>
            {% for qualification in qualifications %}
                <option value="{{ qualification.id }}">{{ qualification.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="subject">Subject</label>
        <select name="subject" id="subject" required>
            <option value="">Select Subject</option>
        </select><br><br>

        Interested:
        <select name="interested" id="interested">
            <option value="Job">Job</option>
            <option value="Study">Study</option>
        </select><br><br>
        
        <input type="submit" value="Add Career">
    </form>

    <script>
        document.getElementById('qualification').addEventListener('change', function () {
            var qualificationId = this.value;
            var subjectSelect = document.getElementById('subject');
            subjectSelect.innerHTML = '<option value="">Loading...</option>';

            fetch(`/get-subjects/${qualificationId}/`)
                .then(response => response.json())
                .then(data => {
                    subjectSelect.innerHTML = '<option value="">Select Subject</option>';
                    data.subjects.forEach(function(subject) {
                        var option = document.createElement('option');
                        option.value = subject.id;
                        option.text = subject.name;
                        subjectSelect.appendChild(option);
                    });
                });
        });
    </script>
</body>
</html>
