{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Username - CareerGuide</title>
    <link rel="stylesheet" href="{% static 'css/getusername.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-section">
            <div class="logo">Career<span>Guide</span></div>

            <div class="form-icon">
                <img src="{% static 'images/PngItem_2738719.png' %}" alt="Icon">
            </div>

            <h2>Forgot Your Password?</h2>
            <p class="subtext">Enter your username to receive password reset instructions.</p>

            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter your username" required>
                <input type="submit" value="Submit">
            </form>
        </div>

         <div class="image-section">
            <div class="info">
                <h3>Stay on Track</h3>
                <p>We’re here to help you get back into your account and continue your journey toward career success.</p>
            </div>
        </div>
    </div>
</body>

</html>
