{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Link to external CSS file using Django's static tag -->
    <link rel="stylesheet" href="{% static 'css/passwordreset.css' %}">
</head>
<body>
    <form action="" method="post">
        <h2>Enter Your New Password</h2>
        {% csrf_token %}
        <input type="password" placeholder="Password" name="password">
        <input type="password" name="confpassword" placeholder="Confirm Password">
        <input type="submit" value="Submit">
    </form>
     <!-- Footer -->
     <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="foot-column">
                    <h3>CareerGuide</h3>
                    <p>Empowering your future with guided career choices.</p>
                </div>
                <div class="foot-column">
                    <h4>SOLUTIONS</h4>
                    <ul>
                        <li>My Account</li>
                        <li>Track Your Path</li>
                        <li>Explore Fields</li>
                        <li>Guidance History</li>
                    </ul>
                </div>
                <div class="foot-column">
                    <h4>ABOUT</h4>
                    <ul>
                        <li>About Us</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="foot-column">
                    <h4>CONTACT US</h4>
                    <ul>
                        <li>Ettumanoor, Kottayam, Kerala</li>
                        <li>+91-86065 70657</li>
                        <li>Mon - Sat / 9:00AM - 6:00PM</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 CareerGuide. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
