<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}"><button>Home</button></a>
    </nav>
    <h1>profile</h1>
    <button>Edit Profile</button>
    <form action="">
        username:<input type="text" name="username" placeholder="username"><br><br>
        email:<input type="email" name="email" placeholder="email"><br><br>
        <label for="type">Qualification</label>
        <select name="type" id="type">
           <option value="degree">Degree</option>
           <option value="diploma">Diploma</option>
           <option value="plus two">Plus Two</option>
           <option value="10">10</option>
        </select><br><br>
        <label for="type">Subject</label>
        <select name="type" id="type">
            <option value="none">None</option>
            <option value="cs">Computer Science</option>
            <option value="ct">Computer Engineering</option> 
            <option value="che">Computer Hardware Engineering</option>
            <option value="ele">Electrical</option>
            <option value="ece">Electronics and Communication</option>
            <option value="mechanical">Mechanical</option>
            <option value="civil">Civil</option>
            <option value="biomaths">Bio Maths</option>
            <option value="Commerce">Commerce</option>
            <option value="humanities">Humanities</option>
            <option value="ice">Instrumentation and Control Engineering</option>
            <option value="ce">Chemical Engineering</option>
         </select><br><br>
             <label for="type">Interested</label>
             <select name="type" id="type">
                <option value="course">study</option>
                <option value="job">job</option>
           
            </select><br><br>
        Details:    <textarea name="details"></textarea><br><br>
 <button>update</button>
    </form>

    
</body>
</html>