<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
   
        <a href="{% url 'adminhome' %}"><button>Home</button></a>
        <a href="{% url 'add' %}"><button>Add </button></a>
        <a href="{% url 'userlist' %}"><button>User List</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
    </nav>
    <h1>Use list</h1>
</body>
</html>