{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List | CareerGuide</title>
    <link rel="stylesheet" href="{% static 'css/admin/userlist.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'adminhome' %}"> Home</a>
        <a href="{% url 'message_list' %}">Messages</a>
        <a href="{% url 'add' %}">Add Career</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <h2>User List</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Qualification</th>
                <th>Subject</th>
                <th>Interested In</th>
                <th>Additional Details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <td data-label="Username">{{ address.user.username }}</td>
                <td data-label="Email">{{ address.user.email }}</td>
                <td data-label="Phone Number">{{ address.phone }}</td>
                <td data-label="Address">{{ address.address }}</td>
                <td data-label="Qualification">
                    {% if address.user.usercareerfilter %}
                        {{ address.user.usercareerfilter.qualification.name }}
                    {% else %}
                        Not specified
                    {% endif %}
                </td>
                <td data-label="Subject">
                    {% if address.user.usercareerfilter and address.user.usercareerfilter.subject %}
                        {{ address.user.usercareerfilter.subject.name }}
                    {% else %}
                        Not specified
                    {% endif %}
                </td>
                <td data-label="Interested In">
                    {% if address.user.usercareerfilter %}
                        {{ address.user.usercareerfilter.interested }}
                    {% else %}
                        Not specified
                    {% endif %}
                </td>
                <td data-label="Additional Details">
                    {% if address.user.usercareerfilter %}
                        {{ address.user.usercareerfilter.details|default:"None" }}
                    {% else %}
                        Not specified
                    {% endif %}
                </td>
                <td data-label="Action">
                    <a href="{% url 'download_user_excel' address.id %}"><button>Download as Excel</button></a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="9">No users found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>